#curry {
    color:red;
    text-align: center;
    font-size: 29px;
}

.justin {
    border: 0px solid yellow;
    background-color: yellow;
}

.bryan {
    color: black;
    font-size: 40px;
}

.melo {
    color: blue;
    font-size: 48px;
}